*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:rgb(226, 186, 135);
}


h2, h3, p{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(248, 236, 220);
}

.aside{
    background-color: rgb(226, 186, 135);
    text-align: center;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.titulo_aside{
    background-color: white;
    color: rgb(199, 159, 108);
    border-radius: 20px;
    padding: 0px 5px;
}

header{
    grid-area: header;
    background-image: url(../assets/img/01.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.titulo_header{
    background-color: rgb(199, 159, 108);
    border-radius: 25px;
    padding: 0px 15px;
}

h3{
    text-align: center;
}

.redes{
    padding: 8px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.faq{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    padding: 10px;
}

footer{
    background-color: #c79f6c;
    color: white;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_texto{
    display: flex;
    flex-direction: column;
}